<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/css/foundation.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
  <title>Home Page</title>
</head>

<body>
  
	<header>
		<nav class="orange lighten-1">
			<div class="nav-wrapper">
				<form>
					<div class="input-field sBar">
						<input id="search" required="" type="search"> <label class="label-icon" for="search"><i class="material-icons">search</i></label> <i class="material-icons">close</i>
					</div>
				</form>
			</div>
		</nav>


		<div class="container">
			<a class="top-nav sidenav-trigger full hide-on-large-only" data-target="slide-out" href="#"><i class="iCon material-icons">menu</i></a>
		</div>


		<ul class="sidenav sidenav-fixed" id="slide-out">
			<li class="center"><img class="logo" src="/styles/images/modified-logo.png">
			</li>


			<li>
				<div class="user-view">
				</div>
			</li>


			<li>
				<a class="sidelinks waves-effect waves-light" href="#!"><i class="fas fa-fire-alt"></i>Trending</a>
			</li>

      <li>
				<a class="sidelinks waves-effect waves-light" href="#!"><i class="fas fa-star"></i>Top Rated</a>
			</li>

      <li>
				<a class="sidelinks waves-effect waves-light" href="#!"><i class="fas fa-play-circle"></i>Now Playing</a>
			</li>

      <li>
				<a class="sidelinks waves-effect waves-light" href="#!"><i class="fas fa-calendar"></i>Upcoming</a>
			</li>

      


			


			<li style="list-style: none">{{#if isLoggedIn }}</li>


			<li>
				<a class="sidelinks waves-effect waves-light" href="/watchedList"><i class="fas fa-film"></i>Watched List</a>
			</li>


			<li>
				<a class="sidelinks waves-effect waves-light" href="/wishList"><i class="fas fa-heart"></i>Wish List</a>
			</li>


		<div class="bot2">

	<li class="user"><i class="fas fa-user"></i> {{id}}</li>


			<li>
				<a class="sidelinks waves-effect waves-light" href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</li>

			<li style="list-style: none">{{else}}</li>
		</div>
<div class="bot">
  <div class="divider">
				</div>
			<li>
				<a class="sidelinks waves-effect waves-light " href="/signin"><i class="small material-icons">account_box</i>Log In</a>
			</li>


			<li>
				<a class="sidelinks waves-effect waves-light" href="/register"><i class="small material-icons">account_circle</i>Register</a>
			</li>
</div>

			<li style="list-style: none">{{/if}}</li>


			<li>
			
			</li>
		</ul>
	</header>
   
{{{body}}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
