<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/css/foundation.css" rel="stylesheet">

	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css">-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>

	<link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/styles/listStyle.css" media="screen" title="no title" charset="utf-8">
	<script src="/js/index.js"></script>

	<title>Movie Saver</title>

	<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
		integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

	<header>
		<nav class="orange lighten-1">
			<div class="nav-wrapper">
				<form id="search-bar" name="search-bar" method="get" action="/search/movie">
					<div class="input-field sBar">
						<input id="search-term" name="q" type="search"> 
						<label class="label-icon" for="search-term">
							<i class="material-icons">search</i>
						</label> 
						<i class="material-icons">close</i>
					</div>
					<input type="submit" style="display:none" value="">
				</form>
			</div>
		</nav>


		<div class="container">
			<a class="top-nav sidenav-trigger full hide-on-large-only" data-target="slide-out" href="#">
				<i class="iCon material-icons">menu</i>
			</a>
		</div>


		<ul class="sidenav sidenav-fixed" id="slide-out">
			<li class="center">
				<img class="logo" src="/styles/images/modified-logo.png">
			</li>


			<li>
				<div class="user-view"></div>
			</li>

			<li>
				<a class="sidelinks waves-effect waves-light" href="/#trending">
					<i class="fas fa-fire-alt"></i>TRENDING
				</a>
			</li>

			<li>
				<a class="sidelinks waves-effect waves-light" href="/#topRated">
					<i class="fas fa-star"></i>TOP RATED
				</a>
			</li>

			<li>
				<a class="sidelinks waves-effect waves-light" href="/#nowPlaying">
					<i class="fas fa-play-circle"></i>NOW PLAYING
				</a>
			</li>

			<li>
				<a class="sidelinks waves-effect waves-light" href="/#upComing">
					<i class="fas fa-calendar"></i>UPCOMING
				</a>
			</li>



			<li style="list-style: none">{{#if isLoggedIn }}</li>


			<li>
				<a class="sidelinks waves-effect waves-light" href="/watchedList">
					<i class="fas fa-film"></i>Watched List
				</a>
			</li>


			<li>
				<a class="sidelinks waves-effect waves-light" href="/wishList">
					<i class="fas fa-heart"></i>Wish List
				</a>
			</li>


			<div class="bot2">

				<li class="user"><i class="fas fa-user"></i> {{id}}</li>


				<li>
					<a class="sidelinks waves-effect waves-light" href="/logout"><i
							class="fas fa-sign-out-alt"></i>Logout</a>
				</li>

				<li style="list-style: none">{{else}}</li>
			</div>
			<div class="bot">
				<div class="divider"></div>

				<!-- Login Trigger -->
				<li>
					<a href="#modal1" class="sidelinks waves-effect waves-light modal-trigger">
						<i class="small material-icons account_box"></i>Log-In
					</a>
				</li>
				<!-- Register Trigger -->
				<li>
					<a href="#modal2" class="sidelinks waves-effect waves-light modal-trigger">
						<i class="small material-icons modal-trigger account_circle"></i>Register
					</a>
				</li>
			</div>


			<li style="list-style: none">{{/if}}</li>

		</ul>
	</header>


	{{!-- Sign-In Modal --}}
	<div id="modal1" class="modal">
		<div class="modal-content">
			<h5>Sign-In</h5>
			<p>
				<form id="signin_modal" name="signin" method="post" action="/signin">
					<label for="email">Email Address</label>
					<input class="text" name="email" type="text" />
					<label for="password">Password</label>
					<input name="password" type="password" />
					<input class="btn" type="submit" value="Sign In" />
				</form>
			</p>
		</div>
	</div>
	{{!-- Register Modal --}}
	<div id="modal2" class="modal">
		<div class="modal-content">
			<h4>Register</h4>
			<p>
				<form id="register_modal" name="register" method="post" action="/register">
					<label for="name">Full Name</label>
					<input class="text" name="name" type="name" /><br>
					<label for="email">Email Address</label>
					<input class="text" name="email" type="email" />
					<label for="password">Password</label>
					<input name="password" type="password" />
					<input class="btn" type="submit" value="Register" />
				</form>
			</p>
		</div>
	</div>

	{{{body}}}

	<!--<script src="/js/index.js"></script>-->

	<footer class="footer">
		<p>
			<a href="https://www.themoviedb.org/" target="_blank">
				<img src="styles/images/TMDB_logo.png" alt="tmdb logo" width="150px">
			</a>
			<a href="https://github.com/devingprice/project-2.git/" target="_blank">
				<img src="styles/images/modified-logo.png" alt="project logo" id="teamlogo">
			</a>
		</p>
	</footer>
</body>

</html>
