
	<main>
    <div class="gridx">
      <div class="cell title">
        Trending

        </div>
    </div>
		<div class="grid-x">
			<div class="cell medium-3 small-6 poster"><img class="shad" src="styles/images/poster.jpg">
			</div>


			<div class="cell medium-3 small-6 poster"><img class="shad" src="styles/images/poster.jpg">
			</div>


			<div class="cell medium-3 small-6 poster"><img class="shad" src="styles/images/poster.jpg">
			</div>


			<div class="cell medium-3 small-6 poster"><img class="shad" src="styles/images/poster.jpg">
			</div>
		</div>
	</main>



	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript">
	</script> 
	<script src="/js/index.js">
	</script>
