<main>
  <div class="gridx">
    <div class="cell title">
      Trending
    </div>

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <img class="poster swiper-slide" src="styles/images/poster.jpg">
        <img class="poster swiper-slide" src="styles/images/poster.jpg">
        <img class="poster swiper-slide" src="styles/images/poster.jpg">
        <img class="poster swiper-slide" src="styles/images/poster.jpg">
        <img class="poster swiper-slide" src="styles/images/poster.jpg">
        <img class="poster swiper-slide" src="styles/images/poster.jpg">
        <img class="poster swiper-slide" src="styles/images/poster.jpg">
        <img class="poster swiper-slide" src="styles/images/poster.jpg">
      </div>

      <script src="../dist/js/swiper.min.js"></script>



</main>