<main>
  <div class="gridx">
    <div class="cell title">
      Trending

    </div>

    

    {{#if hasResults}}
    
    <div class="grid-x">
      {{#each results}}
      
      <div class="cell medium-3 small-6 poster">
        <a href="/movie/{{id}}"><img class="shad" src="http://image.tmdb.org/t/p/w185{{poster_path}}" alt="{{title}}"></a>
      </div>
      {{/each}}
    
    </div>
    {{else}}
    Error loading trending
    {{/if}}
    
    
    <div class="grid-x">
      <div class="cell medium-3 small-6 poster"><img class="shad" src="styles/images/poster.jpg">
      </div>


      <div class="cell medium-3 small-6 poster"><img class="shad" src="styles/images/poster.jpg">
      </div>


      <div class="cell medium-3 small-6 poster"><img class="shad" src="styles/images/poster.jpg">
      </div>


      <div class="cell medium-3 small-6 poster"><img class="shad" src="styles/images/poster.jpg">
      </div>
    </div>
</main>