<main>
  <div class="gridx">
    <div class="cell title">
      Trending

    </div>
  </div>
  <div class="grid-x">
    <div class="cell medium-3 small-6 poster"><img class="shad" src="styles/images/poster.jpg">
    </div>


    <div class="cell medium-3 small-6 poster"><img class="shad" src="styles/images/poster.jpg">
    </div>


    <div class="cell medium-3 small-6 poster"><img class="shad" src="styles/images/poster.jpg">
    </div>


    <div class="cell medium-3 small-6 poster"><img class="shad" src="styles/images/poster.jpg">
    </div>
  </div>
</main>