<main>
  <form id="signin_page" name="signin" method="post" action="signin">
    <label for="email">Email Address</label>
    <input class="text" name="email" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <input class="grey btn" id="saveBtn" type="submit" value="Sign In" />
  </form>
  <a href="/register">REGISTER HERE</a></id>
<<<<<<< HEAD
</main>
=======
</main>
>>>>>>> 2997abaaf25e9315f165363c89256837d0426664
