<main>
  <ul id="watched">

  </ul>
</main>
<script>
  console.log("loaded scripts");
  //make ajax request to /api/watchedList
  $(document).ready(function() {
    console.log("ready");
    requestList("watchedList", function(data) {
      console.log("received", data);
      data.map(movie => {
        $("#watched").append(
          $("<li>").attr("class", "search-result").append(
            $("<div>").append(
              $("<img>").attr("src", "https://image.tmdb.org/t/p/w185_and_h278_bestv2/" + movie["poster_path"])
            ),
            $("<div>").attr("class", "search-info").append(
              $("<a>").attr("href", "/movie/"+movie.apiId).append(
                $("<h1>").text(movie.title)
              ),
              $("<div>").append(
                $("<button>").attr({
                  "data-id": movie.id,
                  "class": "remove-from-watchedlist btn"
                }).text("Remove")
              )
              
            )
          )
        )
      })
    })
  });

  $(document).on('click', '.remove-from-watchedlist', function () {
      var $searchCont = $(this).closest(".search-result");
      var id = $(this).attr('data-id');
      deleteFromList("watchedList", id, function (data) {
        console.log("delete from watched return", data)
        $searchCont.remove();
      })
    })
</script>
