<button id="test" data-id="522681">Add 522681 to watched list</button>
<script>
  console.log("loaded scripts");
  //make ajax request to /api/watchedList
  $(document).ready(function() {
    console.log("ready");
    requestList("watchedList", function(data) {
      console.log("received", data);
    })
  });

  $(document).on('click', '#test', function() {
    console.log("clicked button");
    var id = $(this).attr('data-id');
    addToList("watchedList", id, function(data) {
      console.log("watched return", data)
    })
  })
</script>
