<main>
  <ul id="wishlist">

  </ul>
</main>
<script>
  console.log("loaded scripts");
  //make ajax request to /api/watchedList
  $(document).ready(function () {
    console.log("ready");
    requestList("wishList", function (data) {
      console.log("received", data);
      data.map(movie => {
        $("#wishlist").prepend(
          $("<div>").attr("class", "search-result grid-x").append(
            $("<div class='cell medium-4 small-12'>").append(
              $("<img class='poster'>").attr("src", "https://image.tmdb.org/t/p/original" + movie["poster_path"])
            ),
            $("<div class='cell medium-8 small-12 vcenter'>").attr("class", "search-info").append(
              $("<a>").attr("href", "/movie/" + movie.apiId).append(
                $("<h1>").text(movie.title)
              ),
              $("<div>").append(
                $("<button>").attr({
                  "data-id": movie.id,
                  "data-title": movie.title,
                  "data-poster": movie["poster_path"],
                  "class": "move-to-watchedlist grey btn"
                }).text("Move to Watched List"),
                $("<button>").attr({
                  "data-id": movie.id,
                  "class": "remove-from-wishlist grey btn"
                }).text("Remove")
              )

            )
          )
        )
      })
    })
  });

  $(document).on('click', '.remove-from-wishlist', function () {
    var $searchCont = $(this).closest(".search-result");
    var id = $(this).attr('data-id');
    deleteFromList("wishList", id, false, function (data) {
      console.log("delete from wish return", data)
      $searchCont.remove();
      M.toast({ html: "You've Removed From Wishlist" });
    })
  })

  $(document).on('click', '.move-to-watchedlist', function () {
    var $searchCont = $(this).closest(".search-result");

    var id = $(this).attr('data-id');
    var title = $(this).attr('data-title');
    var poster = $(this).attr('data-poster');

    addToList("watchedList", { id, title, poster }, function (data) {
      console.log("add to watched return", data);
    });
    deleteFromList("wishList", id, false, function (data) {
      console.log("delete from wish return", data)
      $searchCont.remove();
      M.toast({ html: "You've Removed A Movie" });
    })
  })
</script>