.search-result {
  margin: 20px;

  display: flex;
  flex-direction: row;
}

.search-info {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.search-poster {
  max-height: 400px;
  max-width: 300px;
}

.movie-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.movie-header-info {
  padding: 10px;
}