.list-group-item {
  line-height: 2.5;
}

.poster {
  height: auto;
  width: 345.5px;
  text-align: center;
}

.bars {
  margin-bottom: 15em;
}

.shad {
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.sBar {
  margin-left: 55px !important;
}

.bot {
  margin-top: 28em !important;
}

.bot2 {
  margin-top: 23em !important;
}

.title {
  font-family: 'Heebo', sans-serif;
  color: #444;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.user {
  padding: 0 32px;
  color: #444;
}
nav.top-nav {
  height: 110px;
  box-shadow: none;

}

.fas {
  font-size: 30px;

}



.iCon {
  font-size: 50px !important;
}
.logo {
  height: 100px;
  width: 100px;
}

.center {
  text-align: center !important;
  padding: 10px;
}


a.sidenav-trigger.top-nav {
  position: absolute ;
  text-align: center ;
  height: 45px ;
  width: 45px ;
  top: 3px ;
  left: -20px;
  float: none ;
  margin-left: 1.5rem ;
  color: white ;
  font-size: 30px ;
  z-index: 2 ;
}

nav.top-nav h1.header {
  margin: 0;
  padding-top: 22px;
}

.header {
  color: white;
  font-weight: 300;
}

h1 {
  font-size: 4.2rem;
  line-height: 110%
}

.input-fiels:active {
  color: #ffb74d !important;
}
.sidenav {
  background: white !important;
}

.sidelinks {
  color: #444 !important;
  text-decoration: none;
}

.waves-effect:hover {
  background: #ffb74d !important;
  color: white !important;
}


.waves-effect:active {
  background: #ffaf42 !important;
  color: white !important;
}
.sidelinks:hover {
  text-decoration: none;
  color: white;
}
.sidelinks:hover i{
  color:white;
}




header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  nav .nav-wrapper {
    text-align: center;
  }

}
      
@media only screen and (min-width: 601px) {
  .row .col.offset-m1 {
    margin-right: 8.3333333333333%;
  }
}

@media only screen and (min-width:992px) {
  .sBar {
    margin-left: 0px !important;
  }
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-wrapper {
  width:100%;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width:350px !important;

}

footer {
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
    color: white;
    max-height: 300px;
    background: #ffa733;
    border-top: 4px solid grey;
}
#teamlogo {
  height: 70px;
  width: 70px;
}

#movieCard {
  height: 500px;
  width:300px;
}
/* #movieTitle {
  text-shadow: 2px 2px #ffa733;
} */